<h1><%= @metadata.title %></h1>

<%= @content |> raw() %>
<ol reversed>
  <li :for={post <- Apocrypha.Library.pending_posts()}>
    <.link href={~p"/q/#{Path.basename(post, ".md")}"}>
      <code><%= Path.basename(post, ".md") %></code>
    </.link>
  </li>
</ol>
