<h1><%= @metadata.title %></h1>
<%= @content |> raw() %>
<hr />
<nav>
  <ol>
    <li :for={{title, posts} <- @all_groups}>
      <.link href={"#" <> Apocrypha.to_ident(title)} class={@class}>
        <%= title %>
      </.link>
      (<%= length(posts) %>)
    </li>
  </ol>
</nav>
<section :for={{title, posts} <- @all_groups}>
  <% grp_id = Apocrypha.to_ident(title) %>
  <h2 id={grp_id} class={@class}>
    <.link href={"##{Apocrypha.to_ident(title)}"}>§</.link>
    <%= title %>
  </h2>
  <ol>
    <li :for={{post, idx} <- Stream.with_index(posts, 1)} id={"#{grp_id}-n#{idx}"}>
      <.link_article post={post} show_series={@series_in_title} show_author={@show_author} />
    </li>
  </ol>
</section>
