@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
  font-family: "Daedric";
  src: url(/fonts/Daedra.otf);
}

@font-face {
  font-family: "Dovahzul";
  src: url(/fonts/Dovah.ttf);
}

@font-face {
  font-family: "Dwemeris";
  src: url(/fonts/Dwemer.ttf);
}

@font-face {
  font-family: "Falmeris";
  src: url(/fonts/Falmer.ttf);
}

@font-face {
  font-family: "Handwriting";
  src: url(/fonts/Skyrim-Books-Hand.ttf);
}

@font-face {
  font-family: "Mage Script";
  src: url(/fonts/Mage.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

/* light/dark */

@media (prefers-color-scheme: light) {
  :root {
    --bg: white;
    --fg: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --fg: white;
  }
}

/* style */

body {
  background-color: var(--bg);
  color: var(--fg);
}

main article,
pre code.lang-verse {
  font-family: "Roboto Slab", Garamond, serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

ol,
ul {
  padding: initial;
  padding-inline-start: 3em;
}

ol.listing > :not(li) {
  margin-inline-start: -3rem;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

blockquote {
  margin-inline-start: 0.5em;
  border: 4px solid transparent;
  border-left-color: brown;
  padding: 0.5em;
}

blockquote + blockquote {
  margin-block-start: 1em;
}

a {
  color: blue;
}

a:visited {
  color: violet;
}

a.footnote {
  vertical-align: super;
  font-size: 75%;
}

a.reversefootnote {
  display: inline;
}

a.reversefootnote + p {
  display: inline-block;
}

cite::before {
  content: "—";
}

code.inline {
  color: fuchsia;
}

ol, ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

li p, p:not(:first-child) {
  margin-block-start: 1em;
}

li p, p:not(:last-child) {
  margin-block-end: 1em;
}

.text-title {
  font-variant: small-caps;
}

.text-title,
.text-italic,
.foreword,
.afterword {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

[lang="x-daedric"],
pre code.lang-x-daedric {
  font-family: "Daedric";
  text-transform: uppercase;
}

[lang="x-dovah"],
pre code.lang-x-dovah {
  font-family: "Dovahzul";
  text-transform: uppercase;
}

[lang="x-dwemer"],
pre code.lang-x-dwemer {
  font-family: "Dwemeris";
  text-transform: uppercase;
}

[lang="x-ehlnofex"],
pre code.lang-x-ehlnofex {
  font-family: "Mage Script";
  text-transform: uppercase;
}

[lang="x-falmer"],
pre code.lang-x-falmer {
  font-family: "Falmeris";
  text-transform: uppercase;
}

.handwriting {
  font-family: "Handwriting";
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.75em;
}

img.float-right {
  min-width: 20em;
  width: 33%;
  float: right;
  margin: 0.5em;
}

table.calendar {
  display: inline-block;

  border: 2px solid var(--fg);
  border-collapse: collapse;
  margin: 0 0.5em;
}

table.calendar tbody tr {
  height: 2em;
}

table.calendar td, table.calendar th {
  min-width: 3em;
  padding: 0 0.25em;
  text-align: center;
  border: 1px solid var(--fg);
}

p.censored:has(> del) {
  text-decoration-line: line-through;
  text-decoration-thickness: 4px;
  color: red;
}

p.censored > del {
  color: var(--fg);
  text-decoration: none;
}

table {
  border: 1px solid var(--fg);
}

table thead {
  border-block-end: 2px solid var(--fg);
}

table th, table td {
  padding-inline: 0.5em;
}

table tr:nth-of-type(4n) {
  background-color: hsl(from var(--fg) h s l / 10%);
}

table tr:nth-of-type(4n + 2) {
  background-color: hsl(from var(--fg) h s l / 15%);
}

/* layout */

body {
  height: 100dvh;
  margin: 0;
}

body > header {
  max-width: 100dvw;
  /* max-height: 4em; */
  background-size: cover;
}

@media screen and (max-width: 23.9em) {
  body > header {
    /* height: 4em; */
  }
}

@media screen and (min-width: 24em) {
  body {
    display: flex;
    flex-direction: column;
  }

  body > header {
    /* background-size: cover; */
    flex-grow: 0;
    flex-shrink: 0;
  }

  #content {
    min-height: 0;
    flex-grow: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    overflow-y: auto;
  }

  main {
    flex: 2 1 30em;
    max-width: 48em;
  }

  #about {
    flex: 1 1 10em;
    max-width: 24em;
  }

  main,
  #about {
    max-height: 100%;
    overflow-y: auto;
  }
}

main, #about {
  padding-inline: 0.5em;
}

body>footer {
  flex-grow: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@media not screen {
  .screen-only {
    display: none;
  }
}

.youtube {
  margin: 0 auto 1em;
  width: 100%;
  aspect-ratio: 16 / 9;

  position: relative;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
