<!DOCTYPE html>
<!--
    |
  ——0—— REGISTERED BY C0DA.
    |
     -->
<!--(It looks better if you click it)-->
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <.live_title prefix={@metadata[:tab_prefix]} suffix={@metadata[:tab_suffix] || " · Apocrypha"}>
      <%= @metadata[:tab_title] || @metadata.title %>
    </.live_title>
    <link rel="icon" href={~p"/images/vivec.png"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <meta property="og:title" content={@metadata[:tab_title] || @metadata.title} />
    <meta property="og:image" content={~p"/images/map-and-logo-1200x600.png"} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Path.join(ApocryphaWeb.Endpoint.url(), @conn.request_path)} />
    <meta :if={about = assigns[:description]} property="og:description" content={about} />
  </head>
  <body class={@classes}>
    <%= @inner_content %>
  </body>
</html>
