<header id="banner" role="banner" class="screen-only" title={@banner.caption}>
  <style type="text/css">
    #banner {
      <%= Apocrypha.Banners.Banner.style_rules(@banner) %>
    }
  </style>
</header>
