<header id="banner" role="banner" class="screen-only">
  <p>
    There will eventually be a banner image here, like at
    <.link href="//myrrlyn.net/oeuvre"><em>oeuvre myrrlyn</em></.link>.
  </p>
</header>
